* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.slider {
  position: relative;

}

.home_slider_title {
  position: absolute;
  top: 30%;
  left: 10%;
}

.home_slider_title h3 {
  font-family: montserrat,
    Sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1em;
  padding: 0 15px;
  color: white;
}

.home_slider_title h4 {
  font-family: montserrat,
    Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.5em;
  padding: 0 15px;
  color: white;
}

.home_slider_title h4+h4 {
  font-family: montserrat,
    Sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 32px;
  padding: 0 15px;
  color: white;
  width: 100px;
  height: 20px;
}


.slider_dots {
  width: 180px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  color: white;
  top: 70%;
  left: 10%;
}

.slider-btn {
  width: 40px;
  border: 2px solid rgba(255, 255, 255, .2);

}

.slider-btn:hover {
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 15px 5%;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 0.5;
}

.logo:hover {
  cursor: pointer;
}

.logo span,
img {
  font-family: Roboto, sans-serif;
  color: white;
  display: block;
  padding: 10px;
}

.logo span {
  border-left: 1px solid grey;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  border-right: 1px solid grey;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navigation ul li a {
  color: white;
  font-family: montserrat, Sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-decoration: none;
  padding: 15px;
}

.navigation ul li a:hover {
  color: #27bfe7;
}

.social a {
  margin-left: 10px;
}

.social a i {
  color: white;
}

.social a i:hover {
  color: #27bfe7;
}

.slider_item {
  height: 100vh;
  width: 100%;
  background-image: url(/img/architect-slider-1.jpg);
  background-size: cover;
  background-position: center;
}

.search {
  padding-right: 37px;
  border-right: 1px solid grey;
}

.wrapper {
  padding: 0 5%;
}

.experience-container {
  width: 70%;
  display: flex;
  margin: auto;
}

.experience {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.year-text {
  padding: 28px 45px 55px;
  border: 2px solid #1b1f29;
}

.year-experience h1 {
  display: inline;
}

.year-experience h1 {
  font-family: montserrat, Sans-serif;
  font-size: 160px;
  font-weight: 800;
}

.year-experience h2 {
  color: rgba(27, 31, 41, 0.5);
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.year-experience h3 {
  color: rgba(27, 31, 41, 0.5);
  font-family: montserrat, Sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.welcome {
  flex: 0;
}

.welcome h5 {
  font-family: montserrat, Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 32.6px;
  margin-bottom: 55px;
}

.welcome h5+h2 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.13em;
}

.welcome h2 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.13em;
}

.welcome-text {
  flex: 0.8;
  color: #909295;
  font-family: montserrat, Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  align-self: flex-end;
}

.projects-container {
  width: 70%;
  display: flex;
  margin: auto;
}

.projects {
  margin-top: 70px;
  display: flex;
}

.projects-text {
  width: 100%;
}

.project-img {
  position: relative;
}

.project-img img {
  width: 75%;
  display: block;
  margin-left: auto;
}

.projects-header h5 {
  font-family: montserrat, Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 32.6px;
  margin-bottom: 50px;
}

.projects-header h5+h2,
h2 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.13em;
}

.projects-header h2+h2+h2 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.13em;
}

.projects-text p {
  color: #909295;
  font-family: montserrat, Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  width: 85%;
}

.project-small-image {
  position: absolute;
  top: 50%;
  left: -10%;
}

.achievements {
  background-color: #1b1f29;
  margin-top: 10%;
  padding: 50px;
}

.achievements-items {
  display: flex;
  justify-content: space-between;
}

.achievements-header h5 {
  font-family: montserrat, Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 32.6px;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
}

.items {
  width: 30%;
  text-align: center;
}

.items h4 {
  color: #fff;
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.13em;
}

.items span {
  color: #fff;
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 200;

  text-transform: uppercase;
  line-height: 1.13em;
}

.our-projects-title {
  margin-top: 70px;
  text-align: center;
}

.our-projects-title h4 {
  font-family: montserrat, Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 31.6px;
  margin-bottom: 30px;
}

.our-projects-title>h2 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.13em;
}

.our-projects-title>h2+h2 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.13em;
}

.gallery figure {
  position: relative;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.gallery figure {
  width: 449px;
  margin: 0;
  padding: 0;
  background: #111111;
  
}

.gallery figure:hover img {
  opacity: 0.5;
}

.gallery figure:hover i {
  z-index: 100;
  opacity: 1;
  transition: .2s ease-in-out;
}

.gallery figure i {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  z-index: -1;
  margin-left: -21px;
  margin-top: -24px;
  color: white;
  transition: .2s ease-in-out;
}

.gallery img {
  flex-grow: 1;
  width: 100%;
  padding: 0;
  opacity: 1;
  transition: .2s ease-in-out;
}

.gallery img:hover {
  filter: blur(2px);
}

.team {
  margin-top: 50px;
}

.team-container {
  width: 70%;
  display: flex;
  margin: auto;
}

.person img {
  width: 300px;
  margin-bottom: 20px;
}

.person h5 {
  color: #1b1f29;
  font-family: montserrat, Sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
}

.person span {
  font-weight: 600;
}

.person p {
  margin-top: 20px;
  width: 80%;
  color: #909295;
  font-family: montserrat, Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.64em;
}

.team-persons {
  display: flex;
}

.team-title h5 {
  font-family: montserrat, Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 32.6px;
  margin-bottom: 30px;
}

.team-title>h2 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.13em;
}

.team-title>h2+h2 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.13em;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 70px;
}

.map {
  width: 60%;
}

iframe {
  width: 80%;
  height: 300px;
}

.contact-detailes {
  width: 40%;
}

.contact-detailes>h2 {
  font-family: montserrat, Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 32.6px;
  margin-bottom: 40px;
}

.contact-detailes>h2+h3 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.13em;
}

.contact-detailes>h2+h3+h3 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.13em;
}

address {
  display: flex;
  flex-direction: column;
}

address a:not(.mail) {
  text-decoration: none;
  color: grey;
}

.mail {
  text-decoration: none;
  color: #27bfe7;
}

.mail:hover {
  color: grey;
}

.ask {
  margin-top: 70px;
}

.ask-container {
  display: flex;
  margin: auto;
  width: 80%;
  text-align: center;
  padding-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

form>h3 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.13em;
}

form h4 {
  font-family: montserrat, Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.13em;
  margin-bottom: 50px;
}

form input,
textarea {
  font-size: 16px;
  padding-top: 30px;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  box-shadow: 0 0 0 0 rgba(140, 140, 140, 0.5);
}

form textarea:focus {
  outline: none;
  border-bottom: 2px solid black;
}

form input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

form input[type="submit"] {
  padding: 20px 70px;
  background-color: #1b1f29;
  color: white;
  border: 2px solid #1b1f29;
  margin-top: 20px;
  font-family: montserrat, Sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
}

form input[type="submit"]:hover {
  background-color: white;
  color: #1b1f29;
}

footer {
  background-color: #1b1f29;
}

.footer-continer {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.footer-continer .header_container {
  width: 100%;
  padding: 0;
  justify-content: start;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer-end p {
  color: grey;
  font-size: small;
}

.footer-end .social a i {
  color: grey;
}

.footer-end .social a i:hover {
  color: #27bfe7;
}